SUPABASE_DATABASE_URL=
SUPABASE_DATABASE_USERNAME=
SUPABASE_DATABASE_PASSWORD=

KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

# 30 minutes * 60 seconds * 1000 milliseconds
JWT_ACCESS_EXPIRATION_TIME=1800000
JWT_SECRET_KEY= เอารหัสกลุ่มเราไป hash แล้วเอามาใส่ในนี้