SUPABASE_DATABASE_URL=
SUPABASE_DATABASE_USERNAME=
SUPABASE_DATABASE_PASSWORD=

KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=

# 24 hours * 60 minutes * 60 seconds * 1000 milliseconds
JWT_ACCESS_EXPIRATION_TIME=86400000
JWT_SECRET_KEY= เอารหัสกลุ่มเราไป hash แล้วเอามาใส่ในนี้

# CORS
CORS_ALLOWED_ORIGINS=ตาม PORT ที่ dev:https รัน
PKCS12_STORE_PASSWORD=ตามที่เคยตั้งเอาไว้

# Supabase Storage
SUPABASE_PUBLIC_STORAGE_URL=
SUPABASE_PAYMENT_STORAGE_URL=
SUPABASE_QRPAYMENT_STORAGE_URL=
SUPABASE_API_URL=
SUPABASE_API_SECRET_KEY=